.Lists{
  padding: 10px;
  max-height: 100%;
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 3px;
  margin: 0px 3px 0px 3px;
  width: 250px;
  display: inline-flex;
  flex-direction: column;
  background-color: #dfe3e6;
}

.Lists-card{
  overflow-y: auto;
  height: auto;
  padding-right: 4px;
}

.Lists-new-card{
  padding-top: 10px;
  bottom: 0;
}