body {
  background-color: #00aecc;
  font-size: 14px;
  font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
  height: 100%;
  position: absolute;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root{
  height: 100%;
  position: relative;
}